li {
    border: 1px solid rgb(211, 211, 211);
    list-style: none;
    padding: 10px;
    width: 600px;
    font-size: 20px;
    margin-top: 1rem;
  }

  input {
    width: 300px !important;
    height: 50px !important;
    border: 1px solid grey;
  }